#main-anchor {
    padding: 8px;
    -fx-fill: rgba(255,255,255,0.66);
}
.text {
    -fx-fill: rgb(.8, .8, .8);
}

.fundamentalChoiceBox {
    -fx-background-color: #9701FF;
    -fx-text-color: #ffff;


}

#leftPanel {
    -fx-background-color: #9701FF;
}

#leftPanel text {
    -fx-color: white;
}